.books-details-title{
    font-size: 30px;
    font-weight: bold;
    margin-left: 48px;
}

.books-contents{
    margin-left: 48px;
}

.book-contents-title{
    font-size: 25px;
    margin-left: 15px;
}

.books-contents-others{
    font-size: 15px;
    margin-left: 15px;
}